<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<!-- 
	<form #myForm="ngForm" novalidate>
	    <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions" #mydrp="mydaterangepicker"
	                    [(ngModel)]="model" (dateRangeChanged)="onDateRangeChanged($event)" required></my-date-range-picker>
	</form>

	<pre>{{model | json}}</pre>

	<ion-button (click)="openCalendar($event)">Open Calendar</ion-button> -->

	<ngx-daterangepicker [(ngModel)]="value" [options]="options"></ngx-daterangepicker>

</ion-content>
